/* ============================================================================
------------------ CSS for 4K screens --------------------------------------
============================================================================ */

@media only screen and (min-width: 1740px) and (max-width: 2560px) {

    /* landing and navigation section */

   .landing-holder{
       height: 800px;
       background-position: 0px 240px;
       background-size: 850px;
   }
   .navbar-back {
       padding: 30px;
       padding-left: 200px;
       padding-right: 250px;
   }
   .auto-type {
       font-size: 40px;
   }
   .center-tab-hod {
       margin-right: 3em;
   }
   .nav-items {
       margin-left: 1em;
   }
   .nav-logo {
       height: 45px;
   }
   .nav-it-a>span {
       font-size: 25px;
   }
   #navshow-pc {
       padding-bottom: 0px;
   }
   .land-txt {
       margin-left: 350px;
   }
   .ld-txt {
       font-size: 70px;
   }
   .auto-type2 {
       font-size: 65px;
   }

   /* about section css */

   .ab-left>img {
       height: 450px;
       margin-left: 200px;
   }
   .ab-right{
       margin-right: 200px;
       margin-left: 100px;
   }
   .sm-h {
       font-size: 24px;
   }
   .mid-h {
       font-size: 55px;
   }
   .ab-div3 {
       font-size: 23px;
       letter-spacing: 1px;
   }
   .button-d {
       font-size: 25px;
       border: 2px solid rgb(104, 104, 242);
   }
   .sec-gap {
       margin-top: 100px;
   }

   /* service section css */

   .sr-card {
       margin: 50px;
       margin-left: 150px;
       margin-right: 150px;
       height: 420px;
       width: 470px;
   }
   .card-h{
       font-size: 35px;
       margin-top: 45px;
   }
   .card-txt {
        font-size: 25px;
        line-height: 30px;
   }
   .sr-card:hover {
       height: 420px;
   }
   .cd-icon1{
       width: 320px;
   }
   .cd-icon2 {
       width: 430px;
   }
   .cd-icon3 {
       width: 420px;
   }
    .sr-card:hover .cd-icon1 {
        width: 270px;
    }

    .sr-card:hover .cd-icon2 {
        width: 350px;
    }

    .sr-card:hover .cd-icon3 {
        width: 340px;
    }

    .sr-card:hover .card-h {
        margin-top: 30px;
    }

    /* Portfolio section css */

    .tb-head {
        font-size: 45px;
    }
    .demTable {
        padding: 15px;
    }
    .demTable td{
        font-size: 30px;
    }
    .demTable th{
        font-size: 35px;
    }
    .td-link>i {
        font-size: 30px;
    }

    /* contact section css */

    .form-input {
        width: 30em;
        padding: 15px;
        font-size: x-large;
    }
    .cont-form-hold {
        padding: 20px;
    }
    .form-textarea {
        padding: 15px;
        font-size: x-large;
    }
    .form-submit {
        padding: 15px;
        font-size: x-large;
    }

    /* get in touch section */

    .touch-heading {
        padding-top: 25px;
    }
    .touch-heading>a {
        font-size: 35px;
    }
    .touch-butt {
        margin-top: 20px;
    }
    .icons>i {
        font-size: 30px;
    }
    .icons>a {
        font-size: x-large;
    }

    /* socail section css */

    .social-holder {
        padding-left: 25px;
        padding-bottom: 25px;
    }
    .soc-icons {
        font-size: 30px;
    }
    .soc-icons>i {
        font-size: 33px;
    }

    /* footer section css */

    .footer {
        margin-top: 50px;
    }

}

/* ============================================================================
------------------ CSS for small laptops --------------------------------------
============================================================================ */

@media only screen and (min-width: 1024px) and (max-width: 1280px) {

    .navbar-back {
        padding-left: 20px;
        padding-right: 15px;
    }
    .land-txt {
        margin-bottom: 70px;
    }
    /* about section */

    .ab-left>img {
        margin-left: 40px;
        height: 260px;
    }
    .cloud {
        height: 420px;
    }
    .ab-right {
        margin-right: 40px;
    }
    .ab-div2 {
        margin-bottom: 8px;
    }
    .ab-txt3{
        margin-bottom: 20px;
    }
    .ab-lg2 {
        display: none;
    }

}

/* ============================================================================
------------------ CSS for small laptops --------------------------------------
============================================================================ */

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .navbar-back {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-holder {
        height: 480px;
        background-position: 0px 115px;
    }
    .cloud {
        margin-top: 60px;
    }
    .auto-type {
        font-size: 18px;
    }
    
    .nav-logo {
        height: 25px;
    }
    
    .land-txt {
        margin-bottom: 50px;
        margin-left: 130px;
    }

    .cloud {
        height: 300px;
    }
    
    .auto-type2 {
        font-size: 28px;
    }
    
    .land-txt-ul {
        padding-left: 0px;
    }
    
    .ld-txt {
        font-size: 30px;
    }
    
    .land-right {
        display: none;
    }
    
    /* upnav bar hide */
    
    #navshow-pc {
        display: flex;
    }
    
    /* about section */
    
    #about-holder {
        flex-direction: row;
    }
    
    .ab-left>img {
        margin-left: 30px;
        height: 260px;
        margin-top: 30px;
    }
    
    .ab-right {
        margin-right: 40px;
    }
    
    .ab-div2 {
        margin-bottom: 8px;
    }
    
    .ab-txt3 {
        margin-bottom: 20px;
    }
    
    .ab-lg2 {
        display: none;
    }

    .sec-gap {
        margin-top: 30px;
    }
    
    /* service section */
    
    .sr-cards-holder {
        flex-direction: row;
    }
    
    .sr-card {
        margin: 30px;
        height: 190px;
        width: 220px;
    }
    
    .sr-card:hover {
        padding-top: 30px;
        height: 190px;
    }
    
    .sr-card:hover .card-txt {
        display: none;
    }
    
    .sr-card:hover .cd-icon1 {
        width: 120px;
    }
    
    .sr-card:hover .cd-icon2 {
        width: 150px;
    }
    
    .sr-card:hover .cd-icon3 {
        width: 150px;
    }
    
    .sr-card:hover .card-h {
        margin-top: 30px;
    }
    
    .cd-icon1 {
        width: 120px;
    }
    
    /* card 2 css */
    
    .cd-icon2 {
        width: 150px;
    }
    
    /* card 3 css */
    
    .cd-icon3 {
        width: 150px;
    }

    /* portfolio section */

    .demTable th {
        font-size: 12px;
    }
    .demTable td {
        font-size: 12px;
    }

    .edu-tb-hold {
        display: flex;
        flex-direction: column;
    }
    .edu-table {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .td-3 {
        display: none;
    }
    .exp-tb-hold {
        margin-top: 40px;
    }
    .exp-table {
        width: 90%;
    }
    .port-table-holder {
        margin-top: 20px;
    }
    .tb-head {
        font-size: 24px;
    }
    /* contact section */

    .cont-form-hold {
        padding: 3px;
        margin-top: 30px;
    }

    .form-input {
        width: 18em;
        font-size: small;
    }
    .form-textarea {
        font-size: small;
    }

    /* get in touch section */

    .touch-holder {
        margin-top: 30px;
    }
    .touch-butt {
        flex-direction: row;
    }
    .icons>a {
        font-size: 15px;
    }

    /* socail section  */

    .soc-icons {
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-holder{
        display: none;
    }
    .social-holder2 {
        display: flex;
    }

    /* footer section */

    .sm-h {
        font-size: small;
    }
}

/* ============================================================================
------------------ CSS for small laptops --------------------------------------
============================================================================ */

@media only screen and (min-width: 480px) and (max-width: 768px) {

    .navbar-back {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-holder {
        height: 480px;
        background-position: 0px 115px;
    }
    .cloud {
        margin-top: 60px;
    }
    .auto-type {
        font-size: 18px;
    }
    
    .nav-logo {
        height: 20px;
    }
    
    .land-txt {
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .cloud {
        height: 300px;
    }
    
    .auto-type2 {
        font-size: 25px;
    }
    
    .land-txt-ul {
        padding-left: 0px;
    }
    
    .ld-txt {
        font-size: 25px;
    }
    
    .land-right {
        display: none;
    }
    
    /* upnav bar hide */
    
    #navshow-pc {
        display: none !important;
    }
    
    /* about section */
    
    #about-holder {
        flex-direction: column-reverse;
    }
    
    .ab-left>img {
        margin-left: 0px;
        height: 260px;
        margin-top: 30px;
    }
    
    .ab-right {
        margin-right: 40px;
    }
    
    .ab-div2 {
        margin-bottom: 8px;
    }
    
    .ab-txt3 {
        margin-bottom: 20px;
    }
    
    .ab-lg2 {
        display: none;
    }

    .sec-gap {
        margin-top: 30px;
    }
    
    /* service section */
    
    .sr-cards-holder {
        flex-direction: column;
    }
    
    .sr-card {
        margin: 30px;
        height: 190px;
        width: 220px;
    }
    
    .sr-card:hover {
        padding-top: 30px;
        height: 190px;
    }
    
    .sr-card:hover .card-txt {
        display: none;
    }
    
    .sr-card:hover .cd-icon1 {
        width: 120px;
    }
    
    .sr-card:hover .cd-icon2 {
        width: 150px;
    }
    
    .sr-card:hover .cd-icon3 {
        width: 150px;
    }
    
    .sr-card:hover .card-h {
        margin-top: 30px;
    }
    
    .cd-icon1 {
        width: 120px;
    }
    
    /* card 2 css */
    
    .cd-icon2 {
        width: 150px;
    }
    
    /* card 3 css */
    
    .cd-icon3 {
        width: 150px;
    }

    /* portfolio section */

    .demTable th {
        font-size: 12px;
    }
    .demTable td {
        font-size: 12px;
    }

    .edu-tb-hold {
        display: flex;
        flex-direction: column;
    }
    .edu-table {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .td-3 {
        display: none;
    }
    .exp-tb-hold {
        margin-top: 40px;
    }
    .exp-table {
        width: 90%;
    }
    .port-table-holder {
        margin-top: 20px;
    }
    .tb-head {
        font-size: 24px;
    }
    /* contact section */

    .cont-form-hold {
        padding: 3px;
        margin-top: 30px;
    }

    .form-input {
        width: 8em;
        font-size: small;
    }
    .form-textarea {
        font-size: small;
    }

    /* get in touch section */

    .touch-holder {
        margin-top: 30px;
    }
    .touch-butt {
        flex-direction: column;
    }
    .icons>a {
        font-size: 15px;
    }

    /* socail section  */

    .soc-icons {
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-holder{
        display: none;
    }
    .social-holder2 {
        display: flex;
    }

    /* footer section */

    .sm-h {
        font-size: small;
    }
    .get-temp {
        display: none;
    }

    /* side nav for mobile */

    .mb-navbar {
        display: block;
        margin-top: 180px;
        
    }
    #navshow-mb {
        list-style-type: none;
        background-color:rgba(138, 224, 255, 1);
        padding-left: 0px;
        display: none;
        position: fixed;
        padding-left: 0px;
        padding-right: 40px;
        height: 470px;
        margin-top: 250px ;
        flex-direction: column;
        justify-content: center;
    }
    .nav-items {
        padding-left: 10px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .img-hold {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .img-hold>a {
        font-size: 20px;
        font-weight: bold;
    }
    .nav-social-hod {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .sdnav-icon {
        color: rgb(0, 0, 0);
        margin-left: 8px;
        margin-right: 8px;
    }
    .img-hold>img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 8px solid black;
    }
    #navshow-mb>li {
        margin-left: 0px;
    }
    .nav-logo {
        height: 45px;
    }
    .center-tab-hod {
        margin-right: 0px;
    }
}

/* ============================================================================
------------------ CSS for big mobiles --------------------------------------
============================================================================ */

@media only screen and (min-width: 375px) and (max-width: 480px) {
    .navbar-back {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-holder {
        height: 480px;
        background-position: 0px 115px;
    }
    .cloud {
        margin-top: 60px;
    }
    .auto-type {
        font-size: 18px;
    }
    
    .nav-logo {
        height: 20px;
    }
    
    .land-txt {
        margin-bottom: 30px;
        margin-left: 40px;
    }

    .cloud {
        height: 300px;
    }
    
    .auto-type2 {
        font-size: 25px;
    }
    
    .land-txt-ul {
        padding-left: 0px;
    }
    
    .ld-txt {
        font-size: 25px;
    }
    
    .land-right {
        display: none;
    }
    
    /* upnav bar hide */
    
    #navshow-pc {
        display: none !important;
    }
    
    /* about section */
    
    #about-holder {
        flex-direction: column-reverse;
    }
    
    .ab-left>img {
        margin-left: 0px;
        height: 260px;
        margin-top: 30px;
    }
    
    .ab-right {
        margin-right: 40px;
    }
    
    .ab-div2 {
        margin-bottom: 8px;
    }
    
    .ab-txt3 {
        margin-bottom: 20px;
    }
    
    .ab-lg2 {
        display: none;
    }

    .sec-gap {
        margin-top: 30px;
    }
    
    /* service section */
    
    .sr-cards-holder {
        flex-direction: column;
    }
    
    .sr-card {
        margin: 30px;
        height: 190px;
        width: 220px;
    }
    
    .sr-card:hover {
        padding-top: 30px;
        height: 190px;
    }
    
    .sr-card:hover .card-txt {
        display: none;
    }
    
    .sr-card:hover .cd-icon1 {
        width: 120px;
    }
    
    .sr-card:hover .cd-icon2 {
        width: 150px;
    }
    
    .sr-card:hover .cd-icon3 {
        width: 150px;
    }
    
    .sr-card:hover .card-h {
        margin-top: 30px;
    }
    
    .cd-icon1 {
        width: 120px;
    }
    
    /* card 2 css */
    
    .cd-icon2 {
        width: 150px;
    }
    
    /* card 3 css */
    
    .cd-icon3 {
        width: 150px;
    }

    /* portfolio section */

    .demTable th {
        font-size: 12px;
    }
    .demTable td {
        font-size: 12px;
    }

    .edu-tb-hold {
        display: flex;
        flex-direction: column;
    }
    .edu-table {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .td-3 {
        display: none;
    }
    .exp-tb-hold {
        margin-top: 40px;
    }
    .exp-table {
        width: 90%;
    }
    .port-table-holder {
        margin-top: 20px;
    }
    .tb-head {
        font-size: 24px;
    }
    /* contact section */

    .cont-form-hold {
        padding: 3px;
        margin-top: 30px;
    }

    .form-input {
        width: 8em;
        font-size: small;
    }
    .form-textarea {
        font-size: small;
    }

    /* get in touch section */

    .touch-holder {
        margin-top: 30px;
    }
    .touch-butt {
        flex-direction: column;
    }
    .icons>a {
        font-size: 15px;
    }

    /* socail section  */

    .soc-icons {
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-holder{
        display: none;
    }
    .social-holder2 {
        display: flex;
    }

    /* footer section */

    .sm-h {
        font-size: small;
    }
    .get-temp {
        display: none;
    }

    /* side nav for mobile */

    .mb-navbar {
        display: block;
        margin-top: 180px;
        
    }
    #navshow-mb {
        list-style-type: none;
        background-color:rgba(138, 224, 255, 1);
        padding-left: 0px;
        display: none;
        position: fixed;
        padding-left: 0px;
        padding-right: 40px;
        height: 470px;
        margin-top: 250px ;
        flex-direction: column;
        justify-content: center;
    }
    .nav-items {
        padding-left: 10px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .img-hold {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .img-hold>a {
        font-size: 20px;
        font-weight: bold;
    }
    .nav-social-hod {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .sdnav-icon {
        color: rgb(0, 0, 0);
        margin-left: 8px;
        margin-right: 8px;
    }
    .img-hold>img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 8px solid black;
    }
    #navshow-mb>li {
        margin-left: 0px;
    }
    .nav-logo {
        height: 45px;
    }
    .center-tab-hod {
        margin-right: 0px;
    }

}

/* ============================================================================
------------------ CSS for mid mobiles --------------------------------------
============================================================================ */

@media only screen and (min-width: 320px) and (max-width: 375px) {
    .navbar-back {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-holder {
        height: 480px;
        background-position: 0px 115px;
    }
    .cloud {
        margin-top: 60px;
    }
    .auto-type {
        font-size: 18px;
    }
    
    .nav-logo {
        height: 20px;
    }
    
    .land-txt {
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .cloud {
        height: 300px;
    }
    
    .auto-type2 {
        font-size: 22px;
    }
    
    .land-txt-ul {
        padding-left: 0px;
    }
    
    .ld-txt {
        font-size: 20px;
    }
    
    .land-right {
        display: none;
    }
    
    /* upnav bar hide */
    
    #navshow-pc {
        display: none !important;
    }
    
    /* about section */
    
    #about-holder {
        flex-direction: column-reverse;
    }
    
    .ab-left>img {
        margin-left: 0px;
        height: 230px;
        margin-top: 30px;
    }
    
    .ab-right {
        margin-right: 40px;
    }
    
    .ab-div2 {
        margin-bottom: 8px;
    }
    
    .ab-txt3 {
        margin-bottom: 20px;
    }
    
    .ab-lg2 {
        display: none;
    }

    .sec-gap {
        margin-top: 30px;
    }
    
    /* service section */
    
    .sr-cards-holder {
        flex-direction: column;
    }
    
    .sr-card {
        margin: 30px;
        height: 190px;
        width: 220px;
    }
    
    .sr-card:hover {
        padding-top: 30px;
        height: 190px;
    }
    
    .sr-card:hover .card-txt {
        display: none;
    }
    
    .sr-card:hover .cd-icon1 {
        width: 120px;
    }
    
    .sr-card:hover .cd-icon2 {
        width: 150px;
    }
    
    .sr-card:hover .cd-icon3 {
        width: 150px;
    }
    
    .sr-card:hover .card-h {
        margin-top: 30px;
    }
    
    .cd-icon1 {
        width: 120px;
    }
    
    /* card 2 css */
    
    .cd-icon2 {
        width: 150px;
    }
    
    /* card 3 css */
    
    .cd-icon3 {
        width: 150px;
    }

    /* portfolio section */

    .demTable th {
        font-size: 12px;
    }
    .demTable td {
        font-size: 12px;
    }

    .edu-tb-hold {
        display: flex;
        flex-direction: column;
    }
    .edu-table {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .td-3 {
        display: none;
    }
    .exp-tb-hold {
        margin-top: 40px;
    }
    .exp-table {
        width: 90%;
    }
    .port-table-holder {
        margin-top: 20px;
    }
    .tb-head {
        font-size: 24px;
    }
    /* contact section */

    .cont-form-hold {
        padding: 3px;
        margin-top: 30px;
    }

    .form-input {
        width: 8em;
        font-size: small;
    }
    .form-textarea {
        font-size: small;
    }

    /* get in touch section */

    .touch-holder {
        margin-top: 30px;
    }
    .touch-butt {
        flex-direction: column;
    }
    .icons>a {
        font-size: 15px;
    }

    /* socail section  */

    .soc-icons {
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-holder{
        display: none;
    }
    .social-holder2 {
        display: flex;
    }

    /* footer section */

    .sm-h {
        font-size: small;
    }
    .get-temp {
        display: none;
    }

    /* side nav for mobile */

    .mb-navbar {
        display: block;
        margin-top: 180px;
        
    }
    #navshow-mb {
        list-style-type: none;
        background-color:rgba(138, 224, 255, 1);
        padding-left: 0px;
        display: none;
        position: fixed;
        padding-left: 0px;
        padding-right: 40px;
        height: 440px;
        margin-top: 200px ;
        flex-direction: column;
        justify-content: center;
    }
    .nav-items {
        padding-left: 10px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .img-hold {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .img-hold>a {
        font-size: 20px;
        font-weight: bold;
    }
    .nav-social-hod {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .sdnav-icon {
        color: rgb(0, 0, 0);
        margin-left: 8px;
        margin-right: 8px;
    }
    .img-hold>img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 5px solid black;
    }
    #navshow-mb>li {
        margin-left: 0px;
    }
    .nav-logo {
        height: 45px;
    }
    .center-tab-hod {
        margin-right: 0px;
    }
}

/* ============================================================================
------------------ CSS for mid mobiles --------------------------------------
============================================================================ */

@media only screen and (max-width: 320px) {
    .navbar-back {
        padding-left: 20px;
        padding-right: 20px;
    }
    .landing-holder {
        height: 480px;
        background-position: 0px 115px;
    }
    .cloud {
        margin-top: 60px;
    }
    .auto-type {
        font-size: 18px;
    }
    
    .nav-logo {
        height: 20px;
    }
    
    .land-txt {
        margin-bottom: 50px;
        margin-left: 30px;
    }

    .cloud {
        height: 300px;
    }
    
    .auto-type2 {
        font-size: 22px;
    }
    
    .land-txt-ul {
        padding-left: 0px;
    }
    
    .ld-txt {
        font-size: 20px;
    }
    
    .land-right {
        display: none;
    }
    
    /* upnav bar hide */
    
    #navshow-pc {
        display: none !important;
    }
    
    /* about section */
    
    #about-holder {
        flex-direction: column-reverse;
    }
    
    .ab-left>img {
        margin-left: 0px;
        height: 230px;
        margin-top: 30px;
    }
    
    .ab-right {
        margin-right: 40px;
    }
    
    .ab-div2 {
        margin-bottom: 8px;
    }
    
    .ab-txt3 {
        margin-bottom: 20px;
    }
    
    .ab-lg2 {
        display: none;
    }

    .sec-gap {
        margin-top: 30px;
    }
    
    /* service section */
    
    .sr-cards-holder {
        flex-direction: column;
    }
    
    .sr-card {
        margin: 30px;
        height: 190px;
        width: 220px;
    }
    
    .sr-card:hover {
        padding-top: 30px;
        height: 190px;
    }
    
    .sr-card:hover .card-txt {
        display: none;
    }
    
    .sr-card:hover .cd-icon1 {
        width: 120px;
    }
    
    .sr-card:hover .cd-icon2 {
        width: 150px;
    }
    
    .sr-card:hover .cd-icon3 {
        width: 150px;
    }
    
    .sr-card:hover .card-h {
        margin-top: 30px;
    }
    
    .cd-icon1 {
        width: 120px;
    }
    
    /* card 2 css */
    
    .cd-icon2 {
        width: 150px;
    }
    
    /* card 3 css */
    
    .cd-icon3 {
        width: 150px;
    }

    /* portfolio section */

    .demTable th {
        font-size: 12px;
    }
    .demTable td {
        font-size: 12px;
    }

    .edu-tb-hold {
        display: flex;
        flex-direction: column;
    }
    .edu-table {
        display: flex;
        justify-content: center;
        width: 90%;
    }
    .td-3 {
        display: none;
    }
    .exp-tb-hold {
        margin-top: 40px;
    }
    .exp-table {
        width: 90%;
    }
    .port-table-holder {
        margin-top: 20px;
    }
    .tb-head {
        font-size: 24px;
    }
    /* contact section */

    .cont-form-hold {
        padding: 3px;
        margin-top: 30px;
    }

    .form-input {
        width: 8em;
        font-size: small;
    }
    .form-textarea {
        font-size: small;
    }

    /* get in touch section */

    .touch-holder {
        margin-top: 30px;
    }
    .touch-butt {
        flex-direction: column;
    }
    .icons>a {
        font-size: 15px;
    }

    /* socail section  */

    .soc-icons {
        margin-left: 25px;
        margin-right: 25px;
    }
    .social-holder{
        display: none;
    }
    .social-holder2 {
        display: flex;
    }

    /* footer section */

    .sm-h {
        font-size: small;
    }
    .get-temp {
        display: none;
    }

    /* side nav for mobile */

    .mb-navbar {
        display: block;
        margin-top: 180px;
        
    }
    #navshow-mb {
        list-style-type: none;
        background-color:rgba(138, 224, 255, 1);
        padding-left: 0px;
        display: none;
        position: fixed;
        padding-left: 0px;
        padding-right: 40px;
        height: 440px;
        margin-top: 200px ;
        flex-direction: column;
        justify-content: center;
    }
    .nav-items {
        padding-left: 10px;
    }
    .profile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 15px;
        margin-left: 20px;
    }
    .img-hold {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .img-hold>a {
        font-size: 20px;
        font-weight: bold;
    }
    .nav-social-hod {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
    }
    .sdnav-icon {
        color: rgb(0, 0, 0);
        margin-left: 8px;
        margin-right: 8px;
    }
    .img-hold>img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        border: 5px solid black;
    }
    #navshow-mb>li {
        margin-left: 0px;
    }
    .nav-logo {
        height: 45px;
    }
    .center-tab-hod {
        margin-right: 0px;
    }

}

/* ============================================================================
------------------ extra --------------------------------------
============================================================================ */

@media only screen and (min-width: 580px) and (max-width:1280px) {
    .navbar-back {
        padding-left: 40px;
        padding-right: 70px;
    }
}

